
mixin comment(title, str)
  .comment
    h2= title
    p.body= str


mixin comment (title, str)
  .comment
    h2= title
    p.body= str

#user
  h1 Tobi
  .comments
    mixin comment('This', (('is regular, javascript')))

mixin womble(flam)
  .doodah
    label(for=flam)
    input(id=flam)

mixin womble("flooble")

mixin list()
  ul
    li foo
    li bar
    li baz

body
  mixin list()